<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WoodsRandomizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WoodsRandomizer.Properties.Settings>
            <setting name="OutputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="Difficulty" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorFiller" serializeAs="String">
                <value />
            </setting>
            <setting name="BoardFiller" serializeAs="String">
                <value />
            </setting>
            <setting name="Character" serializeAs="String">
                <value />
            </setting>
            <setting name="RNGAlgorithm" serializeAs="String">
                <value />
            </setting>
            <setting name="SimpleRounds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DirectDeposit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartingLives" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnduranceMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value />
            </setting>
        </WoodsRandomizer.Properties.Settings>
    </userSettings>
</configuration>